<% if @ticket.errors.any? %>
  <div id="error_explanation">
    <ul>
      <% @ticket.errors.full_messages.each do |msg| %>
        <li>
          <%= msg %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
<%= f.input :name %>
<%= f.input :price %>
<%= f.input :description %>
